head
  <link rel="stylesheet" type="text/css" href="main.css">

body
  .container
    .section.header
      h1 //ryanknutson
    .section
      .container
        .ascii
          pre#pc
            include pc3.asc
        .links
          a(href='http://unixuniverse.net')
            h4 >unix universe 
          a(href='https://gitlab.com/ryanknutson')
            h4 >gitlab 
          a(href='https://github.com/ryanknutson')
            h4 >github  
          a(href='https://medium.com/ryanknut')
            h4 >medium 
      
footer
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
  script.
    setInterval(function(){
      let x = document.getElementById('pc').innerHTML
      document.getElementById('pc').innerHTML = x.match(/root\$\s/g)?x.replace("root# ", "root#█"):x.replace("root#█", "root# ")
    }, 1000)
