@font-face{
	font-family: 'MorePerfectDOSVGA';
  src: url('/MorePerfectDOSVGA.woff2') format('woff2');
	src: url('/MorePerfectDOSVGA.woff') format('woff'),
	     url('/MorePerfectDOSVGA.ttf') format('truetype');
}

@font-face{
	font-family: 'SourceCodePro';
  src: url('/SourceCodePro-Regular.ttf') format('truetype');
}

body {
  background-color: black;
  color: white !important;
  font-family: 'MorePerfectDOSVGA', sans-serif !important;
}

pre {
  font-family: 'SourceCodePro', monospace, monospace;
}

.header {
  margin-top: 10rem;
}

.links {
  display: flex;
  flex-direction: column;
}

/* Larger than tablet */
@media (min-width: 750px) {
  pre {
    font-size: 2.5vh;
  }
  .links > a > h4 {
    font-size: 5em;
  }
  .header > h1 {
    font-size: 3.2em;
  }
}

.links > a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-family: 'SourceCodePro', sans-serif !important;
}

h1 {
  font-family: 'MorePerfectDOSVGA', sans-serif !important;
}

.links > a:hover {
  color: white;
}

.links > a:active {
  color: white;
}

.links > a > h4 {
  font-size: 2em;
}

.ascii {
  display: inline-block;
}

.links {
  margin-left: 2em;
  margin-top: 3em;
  vertical-align:top;
  display: inline-block;
}
